* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,
body {
    height: 100%;
    width: 100%;
}
.btn1{
    margin: 10px;
    padding: 12px 25px;
    font-size: 18px;
    border: 2px solid lightseagreen;
    background-color: transparent;
    font-weight: 600;
    color: lightseagreen;
    transition: all ease 0.3s;
    position: relative;
}

.btn1::after{
    content: '';
    position: absolute;
    height: 100%;
    width: 0%;
    background-color: lightseagreen;
    top: 0;
    left: 50%;
    transform: translate(-50%,0);
    transition: all ease 0.3s;
    z-index: -1;
}

.btn1:hover::after{
    width: 100%;
}

.btn1:hover{
    color: white;
}

.btn2{
    margin: 20px;
    padding: 12px 25px;
    font-size: 18px;
    border: 2px solid lightseagreen;
    background-color: transparent;
    font-weight: 600;
    color: lightseagreen;
    transition: all ease 0.3s;
    position: relative;
    overflow: hidden;
}

.btn2::after{
    content: '';
    position: absolute;
    height: 50px;
    width: 50px;
    background-color: lightseagreen;
    border-radius: 50%;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%) scale(0);
    z-index: -1;
    transition: all ease 0.4s;
}

.btn2:hover::after{
    transform: translate(-50%,-50%) scale(3.5);

}

.btn2:hover{
    color: white;
}