@font-face {
    font-family: japan;
    src: url(./Tempting\ -\ PERSONAL\ USE\ ONLY.otf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
}


#page1 {
    height: 100%;
    width: 100%;
    background-color: azure;
}

#page2 {
    height: 100%;
    width: 100%;
    background-color: azure;
    position: relative;
}

#page3 {
    height: 100%;
    width: 100%;
    background-color: azure;
}

#box {
    height: 200px;
    width: 200px;
    background-color: crimson;
}

img {
    height: 100%;
    width: 15%;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
    object-fit: cover;
}

h1{
    font-family: japan;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: white;
    font-size: 40px;
    white-space: nowrap;
    text-shadow: 0px 0px 20px rgb(0, 0, 0,0.2);
    opacity: 0;
}